.node {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background: white;
    height: auto;
    width: auto;
}

.node textarea {
    width: fit-content;
    height: fit-content;
}

/* TODO: Need to figure out how to apply this only to the question label */
.node label {
    display: block;
    font-size: 12px;
    font-weight: bold;
}

.node_text {
    background: cadetblue;
}

.node_number {
    background: coral;
}

.node_slider {
    background: rosybrown;
}

.node_multiplechoice {
    background: cornflowerblue;
}
